<%= form_tag download_google_doc_path do %>
<table class="nav pull-right">
<% @dropbox_docs.each do |doc|%>
<tr><td><%= link_to doc,    '#' %></td><td>Dropbox</td></tr>
<%end%>
<% @google_docs.each do |doc|%>
<tr><td><%= link_to doc,    '#' %></td><td>Google</td></tr>
<%end%>
</table>
<%end%>